* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#infoPanel {
  position: absolute;
  bottom: 40px;
  left: 40px;
  background: rgba(0,0,0,0.85);
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  font-family: sans-serif;
}

.hidden {
  display: none !important;
}
body {
  margin: 0;
  overflow: hidden;
}